<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:thrift="http://www.busonline.com/alice/schema/thrift"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd    
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
			http://www.busonline.com/alice/schema/thrift  http://www.busonline.com/alice/schema/thrift.xsd
		 http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	
	<thrift:annotation package="com.jecc.thrift.service"></thrift:annotation>

	<!-- 数据传输协议 -->
	 <thrift:client-factory id="clientfactory" auto-startup="true">
		<thrift:poolConfig host="127.0.0.1" port="8090"
			maxIdle="10" maxTotal="11" />
	</thrift:client-factory> 
	<!-- <thrift:thrift-server id="thriftServer" name="server"
		port="8090" handler="integer"></thrift:thrift-server> -->
	<!-- 	
	<bean id="testBean" class="com.jecc.test.ClientTest.TestBean"> </bean>
		 -->
</beans>